
:root{
    --color-first:  #a00000;
    --color-second: #e66500;
    --color-third: #faab06; 
    --color-forth: #300101;
    --black-first: black;
    --black-second: gray;
    --black-thirt: lightgray;
}

body{
    max-height: 100vw;
}

header{
    display: flex;
    justify-content: space-between;
    background: var(--color-second);
    border-bottom: 5px solid var(--black-first);
    padding: 3px 20px
}

#logo{
    font-family: "Press Start 2P", sans-serif ;
    color: var(--color-first);
    text-shadow: 3px 3px 0 var(--color-third);
    font-size: 20px;
}

nav{
    text-align: right; 
    display: inline-flex;  
    align-items: center;   
}

.clickers{
    display: inline-flex;   
    align-items: center;     
    color: var(--color-first);
    font-size: 15px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 17px;
    transition: 100ms linear;
}

.clickers::before { 
    content: "";
    background-color: var(--color-third);
    width: 7px;
    height: 7px;
    margin-right: 4px;
}

.clickers:hover {
    border-bottom: solid 1px var(--color-first);
}