
:root{
    --color-first:  #a00000;
    --color-second: #e66500;
    --color-third: #faab06; 
    --color-forth: #300101;
    --black-first: black;
    --black-second: gray;
    --black-thirt: lightgray;
}

body{
    max-height: 100vw;
}

header{
    display: flex;
    justify-content: space-between;
    background: var(--color-second);
    border-bottom: 10px solid var(--black-first);
    padding: 10px 20px
}

#logo{
    font-family: "Press Start 2P", sans-serif ;
    color: var(--color-first);
    text-shadow: 3px 3px 0 var(--color-third);
    font-size: 20px;

}

nav{
    text-align: right;    
}

.header-buttos{
    display: inline-flex;  
    align-items: center;
    color: var(--color-first);
    font-size: 18px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.header-buttos:not(#button)::before { 
    content: "";
    background-color: var(--color-third);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button{
    background: var(--color-third);
    padding: 18px 20px;
    box-shadow: 5px 5px 0 var(--black-first);
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover{
    background-color: var(--color-first);
    color: var(--color-third);
    transform: scale(1.1);
}

.banner{
    background-image: url(); 
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 160px;
    max-width: 360px;
    max-height: 70px;
}

.buttons > a {
    background: var(--color-third);
    padding: 18px 20px;
    box-shadow: 5px 5px 0 var(--black-first);
    margin-right: 0;
    transition: transform 100ms linear;
    color: var(--color-first);
    text-decoration: none;
    font-size: 18px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.buttons > a:hover{
    background-color: var(--color-first);
    color: var(--color-third);
    transform: scale(1.1);
}