.banner-area{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: var(--blue-first);
    height: 650px;
    border-bottom: 7px solid var(--white-first);  
}