.banner-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-first);
    height: 650px;
    border-bottom: 6px solid var(--white-second);  
    background-image: url(../../assets/img/background\ 2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: lighten;
    box-sizing: border-box;
}