.box {
    display: flex;
    align-items: center ;
    flex-flow: column wrap;
    width: 100%;
    height: 600px;
    background-color: var(--color-first);
}

.box .list-skills {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 760px;
    height: 450px;
    background-color: wheat;
}