.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 160px;
    max-width: 360px;
    max-height: 70px;
}

.buttons > a {
    background: var(--color-third);
    padding: 18px 20px;
    box-shadow: 5px 5px 0 var(--black-first);
    margin-right: 0;
    transition: transform 100ms linear;
    color: var(--color-first);
    text-decoration: none;
    font-size: 18px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.buttons > a:hover{
    background-color: var(--color-first);
    color: var(--color-third);
    transform: scale(1.1);
}