.buttons-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin-top: 20px;
    margin-left: 123px;
}

.buttons {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-third);
    padding: 12px 16px;
    font-size: 15px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms linear;
    color: var(--color-first);
    box-shadow: 4px 4px 0 var(--black-first);
}

.buttons:hover {
    background-color: var(--color-first);
    color: var(--color-third);
    transform: scale(1.1)
}