.link-clickers{
    display: inline-flex;   
    align-items: center;     
    color: var(--color-first);
    font-size: 17px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 17px;
    transition: 100ms linear;
}

.link-clickers::before { 
    content: "";
    background-color: var(--color-third);
    width: 7px;
    height: 7px;
    margin-right: 4px;
}

.link-clickers:hover {
    border-bottom: solid 1px var(--color-first);
}