.title-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--color-second);
   height: 125px;
   padding: 12px 12px;
   box-shadow: 5px 5px 0 var(--black-first);
 }

 .main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 26.5px;
    color: var(--color-first);
    text-shadow: 4px 4px 0 var(--color-third);
    text-align: center;

 }

 .main-title.-second {
   color: white;  
   text-shadow: none;
   text-align: center;
   padding-bottom: 25px;
 }