.main-input{ 
    box-sizing: border-box;
    border: 3px solid var(--white-second);
    border-radius: 0%;
    font-size: 17px;
    height: 30px;
    width: 100%;
}

.main-input.-textarea{
    height: 320px;
    width: 100%;
}