.main-logo {
    font-family: "Press Start 2P", sans-serif ;
    color: var(--color-first);
    text-shadow: 3px 3px 0 var(--color-third);
    font-size: 22px;
    padding-top: 16px;
    padding-bottom: 8px;
}