.main-subtitle {
    font-family: 'Fira Code', sans-serif;
    font-size: 23px;
    color: white;
    text-shadow: 2.5px 2.5px 0 var(--blue-third);
    text-align: center;
    margin-top: 45px;
    padding: 0 0 15px 0;
 }