.logo-area{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-second);
    padding: 4px 8px 4px 3px;
    border-radius: 15%;
    box-shadow: 3px 3px 0 var(--white-second);
}

.main-logo {
    font-family: "Barlow", sans-serif;
    color: var(--white-first);
    text-shadow: 2px 2px 0 var(--blue-first);
    font-size: 23px;
    padding-bottom: 4px;
}

.logo-img {
    height: 55px;
    width: 55px;
}