.main-header{
    display: flex;
    justify-content: space-between;
    background: var(--color-second);
    border-bottom: 4px solid var(--color-third);
    padding: 3px 20px
}

.main-header .navigation {
    text-align: right; 
    display: inline-flex;  
    align-items: center;   
}
