.main-buttons {
    display: inline-flex;
    align-items: center;
    background-color: var(--white-first);
    padding: 12px 14px;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms linear;
    color: var(--blue-second);
    box-shadow: 3px 3px 0 var(--white-second);
}

.main-buttons.-second{
    margin-top: 20px;
    width: 450px;
    justify-content: center;
    box-shadow: none;
}

.main-buttons:hover {
    background-color: var(--blue-third);
    color: var(--white-first);
    box-shadow: none;
    transform: scale(1.1)
}

.main-buttons.-second:hover {
    background-color: var(--blue-first);
    color: var(--white-first);
    box-shadow: none;
    transform: scale(1.1)
}