.title-area{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 300px;
   width: 400px;
   margin-bottom: 50px;
 }

.main-title {
    font-family: 'Barlow', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: var(--blue-third);
    text-shadow: 3px 3px 0 var(--white-first);
    text-align: center;
    padding-top: 12px;
}

.main-title.-second {
   color: var(--white-first);  
   text-shadow: 2px 2px 0 var(--blue-third);
   text-align: center;
   padding-bottom: 40px;
}

.main-title.-third {
  color: var(--white-first);  
   text-shadow: 3px 3px 0 var(--blue-third);
   text-align: center;
   padding-bottom: 60px;
}

.main-title.-fourth{
  color: var(--white-first);
  text-shadow: 3px 3px 0 var(--blue-second);
}

.perfil-photo {
  display: flex;
  justify-content: center;
  align-items: center;   
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 30px;
}

.perfil-photo img {
  height: 80px;
  width: 80px;
}