.main-buttons {
    display: inline-flex;
    align-items: center;
    background-color: var(--white-first);
    padding: 12px 14px;
    font-size: 17px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms linear;
    color: var(--blue-second);
    box-shadow: 3px 3px 0 var(--white-second);
}

.main-buttons:hover {
    background-color: var(--blue-third);
    color: var(--white-first);
    box-shadow: 3px 3px 0 var(--white-first);
    transform: scale(1.1)
}