.progress-bar {
    box-sizing: border-box;
    background-color: white;
    border: 4px solid black;
    height: 29px;
}

.progress-bar::-webkit-progress-bar, 
.progress-bar::-moz-progress-bar{
    background-color: var(--color-second);
}