.title-box{
    background-color: var(--color-second);
    width:320px;
    height: 130px;
    padding: 12px 12px;
    margin-left: 91px;
    margin-top: 140px;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px 0 var(--black-first);
 }

 .title-box .title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 22px;
    color: var(--color-first);
    margin-top: 26px;
    text-shadow: 4px 4px 0 var(--color-third);

 }

 .title-box .subtitle {
    font-family: 'Fira Code', sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 2.5px 2.5px 0 var(--black-first);
    margin-top: 38px;
 }